- if current_user
	div	class="row-fluid"
		div	class="span12"
			div class="row-fluid"
				div class="span6"
					table class="table"
						tr
							th Income
							th Expenses
							th Balance
						tr
							td = number_to_currency(current_user.incomes.sum('value'), unit: " ")
							td = number_to_currency(current_user.expenses.sum('value'), unit: " ")
							td = number_to_currency(@balance, unit: " ")
				div class="span6"
					div class="row-fluid"
						div	class="span6"
							= link_to "Incomes", user_incomes_path(current_user), class: "btn btn-large btn-info span8"
						div	class="span6"
							= link_to "New Income", new_user_income_path(current_user), class: "btn btn-large btn-success span12"
					hr
					div class="row-fluid"
						div	class="span6"
							= link_to "Expenses", user_expenses_path(current_user), class: "btn btn-large btn-info span8"
						div	class="span6"
							= link_to "New Expense", new_user_expense_path(current_user), class: "btn btn-large btn-danger span12"
- else
	div class="row-fluid"
		hr
		h3 class="span6 centered" Log in or sign up to acces your expenses!
end