= form_tag sessions_path, class: "form" do |f|
	fieldset class="center"
		= text_field_tag :email, params[:email], class: "span6", placeholder: "Email"
		br
		= password_field_tag :password, params[:password], class: "span6", placeholder: "Password"
		br
		= submit_tag 'Log In', class: 'btn btn-large btn-success span6'   		
end