= form_for @user, html: {class: "form"} do |f|
	- if @user.errors.any?
		div id="error_explanation" class="alert alert-error"
			button type="button" class="close" data-dismiss="alert"&times;
			h4 class="center"
				= pluralize(@user.errors.count, "error")
				| &nbsp;!
			ul
			- @user.errors.full_messages.each do |msg|
				li class="list-style-none center" = msg
			end
	end
	fieldset class="center"
		= f.text_field :email, class: "span6", placeholder: "Email"
		br
		= f.password_field :password, class: "span6", placeholder: "Password"
		br
		= f.password_field :password_confirmation, class: "span6", placeholder: "Password confirmation"
		br
		= f.submit 'Sign Up', class: 'btn btn-large btn-success span6'   		
end