div class="row-fluid"
	div	class="span12"
		h1 List of all users
		br
		div class="row-fluid"
			div	class="span6"
				= link_to 'Back', root_path, class: 'btn btn-large btn-inverse span5'
			div class="span6"
				= link_to 'New user', new_user_path, class: "btn btn-large btn-danger span5 pull-right"
		br
		- if current_user
			table class="table"
				thead
					tr
						th Email
						th
						th
				tbody
					- @users.each do |user|
						tr
				 			td = link_to user.email, user
				 			td = link_to 'Edit', edit_user_path(user), class: "btn btn-small btn-warning"
				 			td = link_to 'Remove', user, class: "btn btn-small btn-danger", :confirm => 'Are you sure?', :method => :delete
					end
		- else
			div class="row-fluid"
				hr
				h3 class="span6 centered" Log in or sign up to see all users!
		end