= link_to "Add expense", user_expenses_path(current_user), class: "btn btn-large btn-danger span12"
br

= form_for([@user, @user.expenses.build]) do |f|
	fieldset class="center"
		= f.text_field :name, class: "span6", placeholder: "Expense name"
		br
		= f.text_field :value, class: "span6", placeholder: "Amount"
		br
		= f.submit 'Add', class: 'btn btn-large btn-success span6' 
end

div class="row-fluid"
	div class="span6"
		h4 Expenses
		- if current_user
			table class="table"
				thead
					tr
						th Name
						th Amount
						th
				tbody
					- @user.expenses.each do |expense|
						tr
				 			td = link_to expense.name, @expense
				 			td = number_to_currency(expense.value, unit: " ")
				 			td = link_to 'Remove', [expense.user, expense], class: "btn btn-small btn-danger", :confirm => 'Are you sure?', :method => :delete
					end
		- else
			div class="row-fluid"
				hr
				h3 class="span6 centered" Log in or sign up to acces your expenses!
		end
	div class="span6"
		= Expense.sum('value')
