- if current_user
	= form_for ([@user, @user.incomes.build]), html: {class: "form"} do |f|
		- if @income.errors.any?
			div id="error_explanation" class="alert alert-error"
				button type="button" class="close" data-dismiss="alert"&times;
				h4 class="center"
					= pluralize(@income.errors.count, "error")
					| &nbsp;!
				ul
				- @income.errors.full_messages.each do |msg|
					li class="list-style-none center" = msg
				end
		end
		fieldset class="center"
			= f.text_field :name, value: controller.action_name == 'edit' || controller.action_name == 'update'  ? @income.name : @income.name, class: "span6", placeholder: "Income name"
			br
			= f.text_field :value, value: controller.action_name == 'edit' || controller.action_name == 'update'  ? number_to_currency(@income.value, unit: " ") : number_to_currency(@income.value, unit: " "), class: "span6", placeholder: "Amount"
			br
			= f.submit 'Add', class: 'btn btn-large btn-success span6'   		
	end
- else
	div class="row-fluid"		
		h3 class="span6 centered" Log in or sign up to add new income!
		hr
end