div class="row-fluid"
	div	class="span12"
		h1 List of all incomes
		br
		div class="row-fluid"
			div	class="span6"
				= link_to 'Back', root_path, class: 'btn btn-large btn-inverse span5'
			div class="span6"
				= link_to 'New income', new_user_income_path(current_user), class: "btn btn-large btn-success span5 pull-right"
		br
		- if current_user
			table class="table"
				thead
					tr
						th Name
						th Amount
						th Created
						th
						th
				tbody
					- @user.incomes.each do |income|
						tr
				 			td = link_to income.name, @income
				 			td = number_to_currency(income.value, unit: " ")
				 			td
				 				= income.created_at.strftime("%Y-%m-%d %H:%M")
				 				| h
				 			td = link_to 'Edit', edit_user_income_path(current_user, income), class: "btn btn-small btn-warning"
				 			td = link_to 'Remove', [income.user, income], class: "btn btn-small btn-danger", :confirm => 'Are you sure?', :method => :delete
					end 
			br
		- else
			div class="row-fluid"
				hr
				h3 class="span6 centered" Log in or sign up to acces your incomes!
		end