div class="row-fluid"
	div class="span6 centered"
		h1 class="center" Income view
		hr
		br
		div class="center"
			h3
				= @income.name
				= number_to_currency(@income.value, unit: " ")
		div class="center"
			h4 
				| Date created: &nbsp;
				= @income.created_at.strftime("%Y-%m-%d %H:%M")
			 	| h
			= link_to 'Back', incomes_path, class: 'btn btn-large btn-inverse span5 centered'