/* ---------------------------------------------------------
//////////     SCSS VARIABLES                     //////////
--------------------------------------------------------- */
$white:           #fff;
$hoverWhite:      #e6e6e6;
$blue:            #49afcd;
$hoverBlue:       #2f96b4;

$transWhite:      rgba(255,255,255, 0.15);
/* ****************************************************** */




/* ---------------------------------------------------------
//////////     GENERAL STYLES                     //////////
--------------------------------------------------------- */
body {
	background-image: url('/assets/tweed.png');
	font-family: 'Open Sans', sans-serif;
	color: $white;
}
a {
  font-weight: 700;
  color: $blue;
}
a:hover,
a:focus,
a:active {
  color: $hoverBlue;
}
.centered {
  margin-left:auto !important;
  margin-right:auto !important;
  float:none !important;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
  text-align: right;
}
.list-style-none {
  list-style: none;
}
/* ****************************************************** */




/* ---------------------------------------------------------
//////////     TABLE STYLES                       //////////
--------------------------------------------------------- */
.table {
  background-color: $transWhite;
  font-size: 18px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 1px #ddd;
  -moz-box-shadow: inset 0px 1px 1px #ddd;
  box-shadow: inset 0px 1px 1px #ddd;
}
.table td {
  padding: 10px 14px;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: right;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  text-align: center;
}
.table th:nth-child(4),
.table td:nth-child(4),
.table th:nth-child(5),
.table td:nth-child(5),
.table th:nth-child(6),
.table td:nth-child(6) {
  width: 40px;
}
/* ****************************************************** */



/* ---------------------------------------------------------
//////////     FORM STYLES                        //////////
--------------------------------------------------------- */
.form select,
.form textarea,
.form input[type="text"], 
.form input[type="password"], 
.form input[type="number"], 
.form input[type="email"] {
  display: inline-block;
  height: 46px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 4px 6px 4px 10px;
  -webkit-box-shadow: inset 0px 1px 1px #ddd;
  -moz-box-shadow: inset 0px 1px 1px #ddd;
  box-shadow: inset 0px 1px 1px #ddd;
  color: #666;
  background-color: #fbfbfb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #a9a9a9;
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
.form select:focus,
.form textarea:focus, 
.form input[type="text"]:focus, 
.form input[type="password"]:focus, 
.form input[type="number"]:focus, 
.form input[type="email"]:focus {
  border-color: #79aadb;
  outline: 0;
  outline: thin dotted 9;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 1px #ddd;
  -moz-box-shadow: inset 0px 1px 1px #ddd;
  box-shadow: inset 0px 1px 1px #ddd;
  border: 1px solid #a9a9a9;
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
/* ****************************************************** */