- if current_user
	= form_for ([@user, @user.expenses.build]), html: {class: "form"} do |f|
		- if @expense.errors.any?
			div id="error_explanation" class="alert alert-error"
				button type="button" class="close" data-dismiss="alert"&times;
				h4 class="center"
					= pluralize(@expense.errors.count, "error")
					| &nbsp;!
				ul
					- @expense.errors.full_messages.each do |msg|
						li class="list-style-none center" = msg
					end
		end
		fieldset class="center"
			= f.text_field :name, value: controller.action_name == 'edit' || controller.action_name == 'update'  ? @expense.name : @expense.name, class: "span6", placeholder: "Expense name"
			br
			= f.text_field :value, value: controller.action_name == 'edit' || controller.action_name == 'update'  ? number_to_currency(@expense.value, unit: " ") : number_to_currency(@expense.value, unit: " "), class: "span6", placeholder: "Amount"
			br
			= f.submit 'Add', class: 'btn btn-large btn-success span6'   		
	end
- else
	div class="row-fluid"		
		h3 class="span6 centered" Log in or sign up to add new expense!
		hr
end