div class="row-fluid"
	div	class="span12"
		h1 List of all expenses
		br
		div class="row-fluid"
			div	class="span6"
				= link_to 'Back', root_path, class: 'btn btn-large btn-inverse span5'
			div class="span6"
				= link_to 'New expense', new_user_expense_path(current_user), class: "btn btn-large btn-danger span5 pull-right"
		br
		- if current_user
			table class="table"
				thead
					tr
						th Name
						th Amount
						th Created
						th
						th
				tbody
					- @user.expenses.each do |expense|
						tr
				 			td = link_to expense.name, @expense
				 			td = number_to_currency(expense.value, unit: " ")
				 			td
				 				= expense.created_at.strftime("%Y-%m-%d %H:%M")
				 				| h
				 			td = link_to 'Edit', edit_user_expense_path(current_user, expense), class: "btn btn-small btn-warning"
				 			td = link_to 'Remove', [expense.user, expense], class: "btn btn-small btn-danger", :confirm => 'Are you sure?', :method => :delete
					end
		- else
			div class="row-fluid"
				hr
				h3 class="span6 centered" Log in or sign up to acces your expenses!
		end