div class="row-fluid"
	div class="span6 centered"
		h1 class="center" Add new expense
		hr
		br
		= render 'form'
		= link_to 'Back', user_expenses_path(current_user), class: 'btn btn-large btn-inverse span6 centered'