div class="row-fluid"
	div class="span6 centered"
		h1 class="center" Expense view
		hr
		br
		div class="center"
			h3
				= @expense.name
				= number_to_currency(@expense.value, unit: " ")
		div class="center"
			h4 
				| Date created: &nbsp;
				= @expense.created_at.strftime("%Y-%m-%d %H:%M")
			 	| h
			= link_to 'Back', expenses_path, class: 'btn btn-large btn-inverse span5 centered'