div class="row-fluid"
	div class="span8"
		h1 NoExpense
		h3 Track your income and expenses
	div class="span4"
		- if current_user
			div class="row-fluid"
				div class="span12"
					h4 class="pull-right"
						| Welcome, 
					 	= link_to current_user.email, current_user
					 	|  !
			div class="row-fluid"
				div class="span12"
					h4 class="pull-right" = link_to "Log out", log_out_path
		- else
			h4 class="pull-right" 
				= link_to "Sign up", sign_up_path
				|  |
				= link_to "Log in", log_in_path
		end	
br
hr