doctype html
html
	head
		title Noexpense
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700' rel='stylesheet' type='text/css'

	body
		div class="container-fluid"
			div class="row"
				div class="span12 centered"
					= render 'layouts/navigation'
					div class="row-fluid"
						div class="span12 centered"
							- flash.each do |name, msg|
								div id="error_explanation" class="alert alert-error"
									button type="button" class="close" data-dismiss="alert"&times;
									ul
										li class="list-style-none center" = content_tag :span, msg, :id => "flash_#{name}"
							end
					= yield
			div class="row"
				div class="span12 centered"
					= render 'layouts/footer'